#calc{
  border: 1px solid rgba(0, 0, 0, 0.324);
  border-radius: 5px;
  width : 250px
}

#display{
  margin: 10px;
  width: 220px;
  font-size: 25px;
}

.buttonContainer{
  margin: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.button{
  padding: 5px;
  height: 40px;
  width: 40px;
  margin: 5px;
}